<div class="row">
	<div class="login-form mt-5 col-md-8 offset-2">
		<h3>Sign up</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<label for="emailsignup">Email</label>
				<input type="text" name="email" ngModel #email required id="emailsignup" class="form-control" placeholder="email">
			</div>
			<div class="form-group">
				<label for="namesignup">Name</label>
				<input type="text" name="name" ngModel #name required id="namesignup" class="form-control" placeholder="name">
			</div>

			<div class="form-group">
				<label for="productName">Product Name</label>
				<input type="text" ngModel required name="name" class="form-control" id="productName" placeholder="Name">
			</div>



			<div class="form-group">
				<label for="passwordsignup">Password</label>
				<input type="password" name="password" ngModel #password required id="passwordsignup" class="form-control" placeholder="Password"
					   autocomplete>
			</div>
			<button type="submit" [disabled]=f.invalid class="btn btn-primary btn-lg"><span>Signup <i class="fas fa-sign-in-alt"></i></span></button>

		</form>

	</div>
</div>