<div class="user-list" *ngIf="vm$|async as vm">
	<h3 class="mt-4 mb-4">User List</h3>

	<table class="table table-hover text-center">

		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Business Name</th>
				<th scope="col">Email</th>
				<th scope="col">
					<div>
						<button type="button" title="Add new user" class="btn btn-success" [routerLink]="['/shopping/user-add']">Add New User
							<i class="fas fa-plus"></i></button>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>

			<tr *ngFor="let user of vm.users">
				<th scope="row">{{user.name}}</th>
				<td>${{user.businessName}}</td>
				<td>{{user.email}}</td>
				<td>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-info" title="View User"><i class="fas fa-search"
							   [routerLink]="['/shopping/user-item', user.id]"></i></button>
						<button type="button" class="btn btn-warning" title="Edit User" [routerLink]="['/shopping/user-edit', user.id]"><i
							   class="fas fa-edit"></i></button>
						<button type="button" class="btn btn-danger" title="Delete User" (click)="deleteUser(user.id)"><i class="fa fa-trash"
							   aria-hidden="true"></i></button>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
	<div class="row">
		<div class=" mb-1 mt-5 col-5 offset-7">
			<app-pagination-buttons-widget [pagination]="vm.pagination" (selecedUrl)="onPaginationChange($event);">
			</app-pagination-buttons-widget>
		</div>
	</div>
</div>